<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.ginasystem.plugins.notification"
        version="0.0.1">

    <name>MessengerNotification</name>
    <description>The purpose of the plugin is to create a javascript interface for Android applications written in Cordova. Fork from kačer.</description>
    <repo>https://github.com/kurdnka/cordova-plugin-local-notifications.git</repo>
    <keywords>notification, local notification android</keywords>
    <license>Apache 2.0</license>
    <author>Roman Beránek</author>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <dependency id="org.apache.cordova.device" url="https://github.com/apache/cordova-plugin-device" />
    <js-module src="www/messenger-notification.js" name="MessengerNotification">
        <clobbers target="window.MessengerNotification" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MessengerNotification">
                <param name="android-package" value="com.ginasystem.plugins.notification.MessengerNotification"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--
             * The receiver activity is triggered when a notification is clicked by a user.
             * The activity calls the background callback and brings the launch inten
             * up to foreground.
            -->
            <activity android:name="com.ginasystem.plugins.notification.ReceiverActivity" android:launchMode="singleInstance" />
        </config-file>

        <source-file src="src/android/MessengerNotification.java"   target-dir="src/com/ginasystem/plugins/notification" />
        <source-file src="src/android/Options.java"                 target-dir="src/com/ginasystem/plugins/notification" />
        <source-file src="src/android/ReceiverActivity.java"        target-dir="src/com/ginasystem/plugins/notification" />
    </platform>
</plugin>
